---
- name: 'Install apt-transport-https'
  apt:
    name: 'apt-transport-https'

- name: 'Add the docker apt signing key'
  apt_key:
    keyserver: 'pool.sks-keyservers.net'
    id: '58118E89F3A912897C070ADBF76221572C52609D'
  notify: 'docker-apt-get-update'

- name: 'Add the official docker repo'
  apt_repository:
    repo: 'deb https://apt.dockerproject.org/repo ubuntu-{{ ansible_distribution_release }} main'
    state: 'present'
  notify: 'docker-apt-get-update'

- meta: flush_handlers

- name: 'Install docker'
  apt:
    name: 'docker-engine'
    state: 'latest'

- name: 'Add any additional service startup options to the DOCKER_OPTS config variable'
  lineinfile:
    dest: '/etc/default/docker'
    state: 'present'
    line: 'DOCKER_OPTS="{{docker_additional_service_opts}}"'
    regexp: '^DOCKER_OPTS='
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: 'docker-restart-service'

- name: 'Start the docker service'
  service:
    name: 'docker'
    state: 'started'
    enabled: 'yes'

- name: 'Ensure that the docker service is functional'
  docker_ping:
  register: result
  retries: 5
  delay: 10
  until: result|success

- name: 'Install python-pip'
  apt:
    name: 'python-pip'
    state: 'present'

- name: 'Install virtualenv'
  pip:
    name: 'virtualenv'
    state: 'present'

- name: 'Install docker-py'
  pip:
    name: 'docker-py'
    state: 'present'
